<!DOCTYPE html>
<html>
<body>
<p>Haz clic en el siguiente enlace para verificar tu correo electrónico:</p>
<a href="{{ path('verificar_usuario', {'token': token}) }}">Verificar Email</a>
</body>
</html>
